h1 {
  font-size: 40px;
  margin: 0px;
}

li {
  font-size: 18px;
  color: #555555;
  list-style-type: none;
}

ul {
  margin-bottom: 0px;
}

hr {
  color: #d6d6d6;
  width: 200px;
  margin-block-start: 0px;
  margin-block-end: 35px;
  margin-inline-start: 41px;
  border-style: solid;
}

.cardProfile {
  display: grid;
  grid-template-columns: 195px 496px 50px;
  grid-template-rows: 260px;
  align-items: center;
  border-bottom: 1px solid #eeeeee;
  overflow: hidden;
}

.information {
  margin-top: 25px;
}

.cardProfileFull {
  display: grid;
  grid-template-columns: 195px 496px 50px;
  grid-template-rows: 438px;
  align-items: center;
  border-bottom: 1px solid #eeeeee;
}

.informationFull {
  margin-top: 30px;
}

.imgProfile {
  width: 130px;
  height: 130px;
  border-top-left-radius: 50% 50%;
  border-top-right-radius: 50% 50%;
  border-bottom-right-radius: 50% 50%;
  border-bottom-left-radius: 50% 50%;
  border: 1px solid #e2e2e2;
  margin-left: 20px;
}

.gradesHidden {
  display: none;
}

.show {
  font-size: 45px;
  margin-bottom: 107px;
  margin-right: 13px;
  color: #c2c2c2;
  font-weight: bold;
}

.show:hover {
  cursor: pointer;
  color: #2a2a2a;
}

.hidden {
  font-size: 45px;
  margin-bottom: 280px;
  margin-right: 13px;
  color: #c2c2c2;
  font-weight: bold;
}

.hidden:hover {
  cursor: pointer;
  color: #2a2a2a;
}

.btnAddTag {
  width: 200px;
  border-bottom: 1px solid #ffffff;
  margin-top: 10px;
  margin-left: 41px;
}

.tags {
  margin-left: 41px;
  margin-top: 16px;
}

.tag {
  background-color: #cfcfcf;
  padding: 10px;
  text-align: center;
  border-radius: 5px;
}
